[user]
	name = Chris Pearson
	email = chris@cpearson.me.uk
[color]
	ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    fuck = reset HEAD --hard
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
